.ace_editdiv {
    min-width: 100%;
    min-height: 450px;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    font-size: 1em;
}

.ace_editdiv.large {
    min-height: 250px;
}

.ace_editdiv.xs {
    min-height: 50px;
    height: 50px;
}

.ace_editdiv.s {
    min-height: 100px;
    height: 100px;
}

.ace_editdiv.m {
    min-height: 150px;
    height: 150px;
}

.ace_editdiv.l {
    min-height: 250px;
    height: 250px;
}

.ace_editdiv.xl {
    min-height: 350px;
    height: 350px;
}

.ace_editdiv.xxl {
    min-height: 450px;
    height: 450px;
}

.ace_editdiv.xxxl {
    min-height: 850px;
    height: 850px;
}

.editor-wrap {
    position:relative;
}

.editor-preview {
    position:absolute;
    top:0;
    right:0;
    bottom:26px;
    left:0;
    z-index:100;
    background:rgba(255,255,255,0.5);
    display:flex;
    align-items:center;
    justify-content: center;

}

.editor-preview svg {
    height: 50%;
}

.btn-preview {
margin-top:1rem;
}
